//responsive layouts

@mixin mobiles {
  @media only screen and (max-width: 320px) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (max-width: 767px) {
    @content;
  }
}


@mixin tablet {
  @media only screen and (max-width: 980px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (max-width: 1250px) {
    @content;
  }
}




@media only screen and (max-width: 980px) {
  [data-view="desktop"] { display: none !important; }
  [data-reverse="true"] {
    display: flex;
    flex-direction: column-reverse;   
    > * {
      &:last-of-type{
        margin-bottom:25px;
      }
    }
  }
    
}
@media only screen and (min-width: 981px) {
  [data-view="tablet"] { display: none !important; }
}