@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Montserrat:wght@900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: inherit;
  vertical-align: baseline;
  color: inherit;
}

a {
  text-decoration: none;
}

p {
  color: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container, .grid, .btn, header, section, .agenda-section .agenda__item__image, .newsletter__box, .newsletter__box input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.grid__child {
  display: inline-block;
  vertical-align: middle;
}

.community__list__box img, .newsletter__box label span, .newsletter__box label span img {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 980px) {
  [data-view="desktop"] {
    display: none !important;
  }

  [data-reverse="true"] {
    display: flex;
    flex-direction: column-reverse;
  }
  [data-reverse="true"] > *:last-of-type {
    margin-bottom: 25px;
  }
}
@media only screen and (min-width: 981px) {
  [data-view="tablet"] {
    display: none !important;
  }
}
.container {
  padding: 0px 15px;
  position: relative;
  max-width: 1250px;
  margin: 0px auto;
}
@media only screen and (max-width: 1250px) {
  .container {
    max-width: 940px;
  }
}
@media only screen and (max-width: 1250px) {
  .container {
    max-width: 100%;
    padding: 0px 25px;
  }
}
@media only screen and (max-width: 767px) {
  .container {
    padding: 0px 24px;
  }
}

.grid {
  font-size: 0px;
}
.grid:after {
  display: table;
  clear: both;
  content: '';
}
.grid__child {
  max-width: 50%;
  width: 100%;
}
.grid__child:first-of-type {
  text-align: left;
}
.grid__child:first-of-type + div {
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .grid__child {
    max-width: 100%;
  }
}

.griddy {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left !important;
}

body {
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  line-height: 1.20;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
}

@media only screen and (max-width: 980px) {
  br {
    display: none;
  }
}

h1, h2, h3, h4 {
  font-weight: 700;
}

h1, h2 {
  padding: 15px 0px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 50px;
  line-height: 1;
  padding-bottom: 50px;
}
@media only screen and (max-width: 1250px) {
  h1 {
    font-size: 60px;
  }
}
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 32px;
  }
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
}
@media only screen and (max-width: 767px) {
  h2 {
    font-size: 32px;
  }
}

h3 {
  font-size: 32px;
}
@media only screen and (max-width: 767px) {
  h3 {
    font-size: 24px;
  }
}

h4 {
  font-size: 24px;
}
@media only screen and (max-width: 767px) {
  h4 {
    font-size: 18px;
  }
}

p {
  font-size: 20px;
  line-height: 1.4;
}
@media only screen and (max-width: 767px) {
  p {
    font-size: 15px;
  }
}

a {
  font-size: 18px;
}

body {
  background: #fff;
  color: #222;
}

svg, main, path, a {
  will-change: transform;
}

strong {
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
}

.mtop30 {
  margin-top: 30px;
}

.btn {
  display: inline-block;
  font-weight: 500;
  padding: 12px 40px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
}
.btn.solid {
  background: #222222;
  color: #fff;
  border: 1px solid #222222;
}
.btn.solid:hover {
  background: #f861ac;
  border-color: #f861ac;
}
.btn.lineal {
  background: transparent;
  border: 1px solid #222222;
  color: #222222;
  margin-left: 10px;
  background: #fff;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}
.btn.lineal:hover {
  border-color: #f861ac;
  background: #f861ac;
  color: #fff;
}

header {
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 20px 15px;
  width: 100%;
  z-index: 999;
  color: #222;
}
@media only screen and (max-width: 980px) {
  header {
    padding: 15px;
  }
}
header > div {
  max-width: 1250px;
  display: flex;
  align-items: center;
  margin: 0px auto;
}
header > div .logo {
  position: relative;
  z-index: 2;
}
header > div .logo img {
  width: 250px;
}
header > div .menu li a {
  margin: 0px 20px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.1px;
}
@media only screen and (max-width: 1050px) {
  header > div .menu li a {
    margin: 0px 10px;
  }
}
header > div .menu, header > div .social {
  display: flex;
  align-items: center;
  margin-left: auto;
}
header > div .social ul {
  display: flex;
}
header > div .social ul li {
  padding: 0px 6px;
  line-height: 1;
}
header > div .social ul li a {
  width: 23px;
  height: 23px;
  padding: 5px;
  display: inline-block;
  border: 1px solid #f861ac;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: rgba(10, 97, 218, 0);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
header > div .social ul li a svg {
  display: inline-block;
  width: auto;
  height: 19px;
  left: 2px;
  position: relative;
  top: 2px;
}
header > div .social ul li a svg path {
  -webkit-transition: fill 0.25s ease;
  transition: fill 0.25s ease;
  fill: #f861ac;
}
@media only screen and (min-width: 1024px) {
  header > div .social ul li a:hover {
    background: #E4137B;
    border-color: #E4137B;
  }
  header > div .social ul li a:hover svg path {
    fill: #fff;
  }
}
header > div .social .btn {
  position: relative;
  z-index: 2;
  padding: 7px 25px;
  margin-left: 10px;
  color: #222222;
  background: rgba(10, 97, 218, 0);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
@media only screen and (min-width: 1024px) {
  header > div .social .btn:hover {
    background: #0a61da;
    color: #fff;
  }
}
@media only screen and (max-width: 980px) {
  header > div .social .btn {
    position: fixed;
    right: 60px;
  }
}

body {
  background: #F8F8F8;
}

section {
  position: relative;
  padding: 50px 0px;
}
@media only screen and (max-width: 767px) {
  section {
    padding: 30px 0px;
  }
}
section h2 {
  margin-bottom: 50px;
}

.main {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
}
@media only screen and (max-width: 767px) {
  .main {
    padding-top: 100px;
    height: auto;
  }
  .main img {
    max-width: 50%;
  }
}
@media only screen and (max-width: 980px) {
  .main .grid > div {
    text-align: center;
    max-width: 100%;
  }
  .main .grid > div img {
    max-width: 90%;
  }
}
.main .container {
  display: inline-block;
  width: inherit;
}
.main h1 {
  padding: 0px 0px;
}
@media only screen and (max-width: 767px) {
  .main h1 {
    text-align: left;
  }
}
@media only screen and (max-width: 767px) {
  .main .btn {
    width: 100%;
  }
}
.main p {
  padding: 15px 0px;
}
@media only screen and (max-width: 767px) {
  .main p {
    text-align: left;
  }
}
.main p small {
  color: #949c94;
  font-size: 70%;
}
@media only screen and (max-width: 767px) {
  .main p small {
    font-size: 85%;
  }
}

.talks {
  background: url("../../assets/images/gral/bg.svg") no-repeat right -35% top;
}
@media only screen and (max-width: 980px) {
  .talks {
    background: transparent;
  }
}
.talks__list {
  display: flex;
  font-size: 20px;
  margin: 25px 0px;
  padding: 60px 80px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}
@media only screen and (max-width: 767px) {
  .talks__list {
    padding: 25px;
  }
}
.talks__list.current {
  box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.05);
  background: #fff;
}
.talks__list > p {
  text-align: left;
  min-width: 220px;
  color: #7a7a7a;
}
.talks__list > p small {
  font-size: 16px;
}
.talks__list a {
  margin-top: 15px;
  margin-left: 0px !important;
}
@media only screen and (max-width: 767px) {
  .talks__list a {
    width: 100%;
    text-align: center;
  }
}
.talks__list__desc {
  padding-left: 80px;
  text-align: left;
}
@media only screen and (max-width: 980px) {
  .talks__list__desc {
    padding-left: 0px;
  }
}
.talks__list__desc strong {
  display: block;
  font-size: 16px;
  padding-bottom: 15px;
  color: #F53D8B;
  text-transform: uppercase;
}
@media only screen and (max-width: 980px) {
  .talks__list__desc strong {
    font-size: 15px;
  }
  .talks__list__desc strong + p {
    font-size: 16px !important;
    color: #7a7a7a;
  }
  .talks__list__desc strong + p small {
    padding-left: 5px;
  }
}
.talks__list__desc p[data-view="desktop"] small {
  padding-top: 15px;
  display: block;
}
.talks__list__desc h3 {
  font-family: 'Montserrat', sans-serif;
  padding: 0px 0px 12px 0px;
}
@media only screen and (max-width: 980px) {
  .talks__list__desc h3 {
    padding: 10px 0px 12px 0px;
  }
}
.talks__list__desc ul {
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 12px 0px;
  display: flex;
}
.talks__list__desc ul li {
  padding: 10px 0px;
  flex: 1 0 50%;
  max-width: 50%;
  display: flex;
}
@media only screen and (max-width: 767px) {
  .talks__list__desc ul li {
    max-width: 100%;
    flex: 1 0 100%;
  }
}
.talks__list__desc ul li p {
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
}
.talks__list__desc ul li p small {
  display: block;
  font-size: 14px;
}
@media only screen and (max-width: 767px) {
  .talks__list__desc ul li {
    margin-right: 5px;
  }
}
.talks__list__desc ul li img {
  max-width: 60px;
  height: 60px;
  padding: 0px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
@media only screen and (max-width: 767px) {
  .talks__list__desc ul li img {
    max-width: 55px;
    height: 55px;
  }
}

.agenda-section h2 + p {
  color: #7A7A7A;
}
.agenda-section h2 + p em {
  color: #F53D8B;
}
.agenda-section .agenda {
  padding: 50px 0px;
}
.agenda-section .agenda__item {
  padding: 15px 0px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
}
.agenda-section .agenda__item:last-of-type {
  border-bottom: 0px;
}
@media only screen and (max-width: 980px) {
  .agenda-section .agenda__item {
    display: block;
    text-align: center;
  }
}
.agenda-section .agenda__item__image {
  padding-right: 25px;
  text-align: right;
  min-width: 400px;
}
@media only screen and (max-width: 1250px) {
  .agenda-section .agenda__item__image {
    min-width: 298px;
  }
}
@media only screen and (max-width: 980px) {
  .agenda-section .agenda__item__image {
    min-width: auto;
    width: 100%;
    text-align: center;
    padding-right: 0px;
  }
}
@media only screen and (max-width: 1250px) {
  .agenda-section .agenda__item__image img {
    width: 50px;
    height: auto;
  }
}
@media only screen and (max-width: 980px) {
  .agenda-section .agenda__item__image img {
    width: 55px;
  }
}
.agenda-section .agenda__item__desc {
  text-align: left;
}
@media only screen and (max-width: 980px) {
  .agenda-section .agenda__item__desc {
    text-align: center;
  }
}
@media only screen and (max-width: 1250px) {
  .agenda-section .agenda__item__desc p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 980px) {
  .agenda-section .agenda__item__desc p {
    padding: 5px 0px;
  }
}

.team__list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.team__list .member {
  margin: 40px 0px;
  flex: 1 0 24%;
  max-width: 25%;
}
.team__list .member h4 {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}
@media only screen and (max-width: 767px) {
  .team__list .member h4 {
    font-size: 18px;
  }
}
@media only screen and (max-width: 767px) {
  .team__list .member h5 {
    font-size: 15px;
  }
}
@media only screen and (max-width: 1250px) {
  .team__list .member {
    flex: 1 0 25%;
    max-width: 25%;
  }
}
@media only screen and (max-width: 980px) {
  .team__list .member {
    flex: 1 0 49%;
    max-width: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .team__list .member {
    flex: 1 0 49%;
    max-width: 50%;
  }
}
.team__list .member__image {
  margin: 0px auto;
  width: 210px;
  height: 210px;
  overflow: hidden;
}
@media only screen and (max-width: 767px) {
  .team__list .member__image {
    width: 150px;
    height: 150px;
  }
}
.team__list .member__description {
  padding: 25px 0px 0px 0px;
}
.team__list .member__description h4 {
  padding-bottom: 10px;
}

.community__list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
.community__list__box {
  margin: 25px 0px;
  flex: 1 0 32.33%;
  max-width: 33.33%;
  text-align: center;
}
.community__list__box a {
  position: relative;
  display: block;
  width: 100%;
  height: 70px;
}
.community__list__box img {
  position: absolute;
  max-width: 165px;
  max-height: 50px;
}
@media only screen and (max-width: 980px) {
  .community__list__box {
    flex: 1 0 49%;
    max-width: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .community__list__box img {
    max-width: 80%;
    margin: 0px auto;
  }
}

.newsletter {
  background: url(../../assets/images/gral/bg.svg) no-repeat center bottom 210%;
}
.newsletter .ty-message {
  display: none;
}
.newsletter form.sucess .suscribe__form {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  display: none;
}
.newsletter form.sucess + .ty-message {
  display: block;
}
.newsletter__box {
  padding: 50px;
  margin: 50px auto;
  width: 500px;
  border-radius: 16px;
  background: #FFFFFF;
  box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.05);
}
.newsletter__box .suscribe__form {
  padding-top: 25px;
}
@media only screen and (max-width: 767px) {
  .newsletter__box {
    width: 100%;
    padding: 25px;
    box-shadow: none;
  }
}
.newsletter__box input {
  background: #F3F3F3;
  -webkit-border-radius: 36px;
  -moz-border-radius: 36px;
  border-radius: 36px;
  padding: 15px;
  outline: none;
  width: 100%;
  font-size: 20px;
  display: block;
  margin: 10px 0px;
  border: 2px solid #F3F3F3;
}
@media only screen and (max-width: 767px) {
  .newsletter__box input {
    font-size: 17px;
  }
}
.newsletter__box input.error {
  border-color: #fd78b0;
}
.newsletter__box label {
  padding: 10px 0px;
  font-size: 12px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  text-align: left;
}
.newsletter__box label .checkbox {
  position: relative;
}
.newsletter__box label span {
  display: block;
  position: absolute;
  width: 22px;
  height: 22px;
  background: #F3F3F3;
  border: 2px solid #F3F3F3;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.newsletter__box label span img {
  position: absolute;
  display: none;
}
.newsletter__box label input {
  width: 0px;
  height: 0px;
  appearance: none;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}
.newsletter__box label input:checked + span img {
  display: block;
}
.newsletter__box label input.error + span {
  border-color: #fd78b0;
}
.newsletter__box label p {
  font-size: 12px !important;
  padding-left: 10px;
}
.newsletter__box #js-subscribe-response {
  font-size: 13px;
  color: #fd78b0;
  padding-top: 20px;
}
.newsletter__box #js-subscribe-response a {
  font-size: 13px;
  color: #222;
}
.newsletter__box .ty-message {
  padding: 50px 0px;
  border: 1px DASHED #f4f4f4;
  margin-top: 40px;
}
@media only screen and (max-width: 767px) {
  .newsletter__box .ty-message {
    padding: 25px 0px;
  }
}
.newsletter__box button {
  font-size: 20px;
  margin-top: 0px;
  cursor: pointer;
  display: block;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .newsletter__box button {
    font-size: 17px;
  }
}

@media only screen and (max-width: 767px) {
  .future-speakers-list {
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  .future-speakers-list > .griddy {
    display: block;
  }
}
.future-speakers-list > .griddy img {
  margin: 0px 25px;
}
@media only screen and (max-width: 767px) {
  .future-speakers-list > .griddy img {
    display: block;
    margin: -40px auto;
    transform: rotate(90deg);
  }
}
.future-speakers-list .speakers__list {
  padding: 15px 0px;
}
@media only screen and (max-width: 980px) {
  .future-speakers-list .speakers__list {
    flex-wrap: wrap;
    display: inline;
  }
}
.future-speakers-list .speakers__list .speaker {
  flex: 1 1 33.33%;
  justify-content: flex-start;
}
@media only screen and (max-width: 980px) {
  .future-speakers-list .speakers__list .speaker {
    flex: 1 1 100%;
    justify-content: flex-start;
    padding: 10px;
  }
}
.future-speakers-list .speakers__list .speaker p {
  padding: 0px 10px;
  font-size: 13px;
}
.future-speakers-list .speakers__list .speaker p strong {
  font-family: Montserrat,sans-serif;
  font-size: 19px;
  font-weight: bold;
}

.full-agenda {
  padding-top: 150px !important;
}
.full-agenda img {
  filter: grayscale(100);
  border: 4px solid #fff;
  border-radius: 50%;
  box-shadow: -1px 2px rgba(0, 0, 0, 0.21), 0px 5px 3px rgba(0, 0, 0, 0.5);
}

/*# sourceMappingURL=style.css.map */
